.header {
    text-align: end;
    margin: auto;
    background: cadetblue;
    padding: 25px;
    font-weight: bolder;
    font-size: x-large;
}

.main-content {
    margin-left: 500px;
    margin-top: -540px;
}

